@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;400&display=swap');
*{
    margin: 0px;
    padding: 0px;  
    font-family: 'Yantramanav', sans-serif;
    /* putting margin and padding to zero    */
}
#upper{
    display: flex;
    padding: 10px;
    margin-bottom: 25px;
}
#upper .col{
    width: 13%;
    margin-left: 30px;
}
#upper .col>ul{
    list-style: none;
}
#upper .col>ul>li{
    margin-bottom: 10px;
    color: #636262;
}
#upper .col>ul>li:first-child{
    font-size: 18px;
    color: #333;
}
#upper .col>ul>li:hover{
    cursor: pointer;
    text-decoration: underline;
}
.socialLinks{
    /* border: 2px solid black; */
    width: 21%;
}
.socialLinks>div:first-child{
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
    align-items: center;
    color: #333;
}
.socialMedia{
    font-size: 23px;
    margin-right: 8px;
}
.socialLinks>div:last-child{
    font-size: 25px;
    /* border: 2px solid red; */
    margin-top: 16px;
    color: #333;
}

#lower>ul{
    display: flex;
}
#lower>ul>li{
    list-style: none;
    text-decoration: none;
    padding-left: 40px;
    color: #636262;
}
#lower>ul>li:hover{
    cursor: pointer;
    text-decoration: underline;
    
}

